$black: #3e4e61;

$white: #fff;

$accent: #ba5aff;

// $accent_2: #52e1b2;

// $accent_3: #78e1be;

// $accent_additional: #0a7e58;

$background: #fefaff;

$text_main_color: #203a59;

$txt_additional_color: #3e4e61;

$select: lighten($accent, 20%);
