.container {
  width: 100%;
  max-width: 1440px;

  margin-left: auto;
  margin-right: auto;

  &_padding {
    padding: 0 30px;

    @include mq('tablet') {
      padding: 0 50px;
    }

    @include mq('laptop') {
      padding: 0 100px;
    }
  }
}
