@import './burger';

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  @include mq('laptop') {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  background-color: $background;
}

.logo {
  display: inline-flex;
  flex: 0 1 200px;
  order: -1;
  align-items: center;
  color: $text_main_color;

  font-size: 2rem;
  @include mq('tablet') {
    font-size: 3rem;
  }

  font-weight: bold;

  & > svg {
    width: 30px;
    margin-right: 10px;

    @include mq('laptop') {
      width: 50px;
      margin-right: 15px;
    }
  }
}

.nav {
  display: none;

  &.is-active {
    display: flex;
    flex-flow: column nowrap;

    position: absolute;
    top: 40px;
    left: 50%;

    width: 200px;
    max-width: 35%;

    padding: 10px 20px;

    transform: translateX(-50%);

    background-color: $white;

    & .navList {
      display: flex;
      flex-flow: column nowrap;

      &__item {
        flex: 0 0 20px;
        margin-bottom: 1.5rem;
      }
    }

    .btnContactUs {
      margin: 0 auto;
    }
  }

  @include mq('mobile-L') {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
  }

  @include mq('tablet') {
    display: inline-flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
  }

  @include mq('laptop') {
    flex: 0 1 50%;
  }
}

.navList {
  display: inline-flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  &__a {
    font-size: 1rem;
    font-weight: bold;
    color: $text_main_color;

    @include mq('laptop') {
      font-size: 1.3rem;
    }
  }
}

.btnContactUs {
  margin-left: 40px;
  padding: 10px 20px;

  font-size: 1rem;
  font-weight: bold;

  @include mq('mobile-L') {
    @include mq('tablet', 'max') {
      padding: 5px;
      border-radius: 5px;
    }
  }

  & > svg {
    width: 20px;
  }
}
